 <div>
       <div class="veg-img-div">  
       <img class ="img-veg" src="assets/images/bakery-background-image.jpg" >
         </div>
        </div>
        </div>
        <div id="second-container">
        
        <div class="products-div">
        <div class="product-pic-div">
        <img class="pic-style" src="assets/images/bread.png">
        </div>
        <div class="product-name-div">
         Fresh Bread Rs 75(400g)
        </div>
        
        <div class="product-btn-div">
        <form>
        <input class="btn-styling" type="submit"  value="Add to Cart"></input>
        </form>
        </div>
        </div>
        <div class="products-div">
        <div class="product-pic-div">
        <img class="pic-style" src="assets/images/cookies.jpg">
        </div>
        <div class="product-name-div">
         Cookies Rs400 per kg
        </div>
        
        <div class="product-btn-div">
        <form>
        <input class="btn-styling" type="submit"  value="Add to Cart"></input>
        </form>
        </div>
        </div>
        <div class="products-div">
        <div class="product-pic-div">
        <img class="pic-style" src="assets/images/choclate-cup-cakes.jpg">
        </div>
        <div class="product-name-div">
         Choclate cupcakes Rs45(200g)
        </div>
        
        <div class="product-btn-div">
        <form>
        <input class="btn-styling" type="submit"  value="Add to Cart"></input>
        </form>
        </div>
        </div>
        <div class="products-div">
        <div class="product-pic-div">
        <img class="pic-style" src="assets/images/biscuits.jpg">
        </div>
        <div class="product-name-div">
         Biscuits Rs 400/kg
        </div>
        
        <div class="product-btn-div">
        <form>
        <input class="btn-styling" type="submit"  value="Add to Cart"></input>
        </form>
        </div>
        </div>
        </div>
        
        <div id="second-container">
        
        <div class="products-div">
        <div class="product-pic-div">
        <img class="pic-style" src="assets/images/gulab-jamun.jpg">
        </div>
        <div class="product-name-div">
        Gulab-jamun Rs 380/kg
        </div>
        
        <div class="product-btn-div">
        <form>
        <input class="btn-styling" type="submit"  value="Add to Cart"></input>
        </form>
        </div>
        </div>
        <div class="products-div">
        <div class="product-pic-div">
        <img class="pic-style" src="assets/images/rasgullay.jpg">
        </div>
        <div class="product-name-div">
         Rasgullay Rs380/kg
        </div>
        
        <div class="product-btn-div">
        <form>
        <input class="btn-styling" type="submit"  value="Add to Cart"></input>
        </form>
        </div>
        </div>
        <div class="products-div">
        <div class="product-pic-div">
        <img class="pic-style" src="assets/images/khanpuri-pairay.jpg">
        </div>
        <div class="product-name-div">
        khanpuri pairay Rs 600/kg
        </div>
        
        <div class="product-btn-div">
        <form>
        <input class="btn-styling" type="submit"  value="Add to Cart"></input>
        </form>
        </div>
        </div>
        <div class="products-div">
        <div class="product-pic-div">
        <img class="pic-style" src="assets/images/Khoya-Barfi.jpg">
        </div>
        <div class="product-name-div">
         Khoya Barfi Rs 550/kg
        </div>
        
        <div class="product-btn-div">
        <form>
        <input class="btn-styling" type="submit"  value="Add to Cart"></input>
        </form>
        </div>
        </div>
        </div>
        <div id="second-container">
        
        <div class="products-div">
        <div class="product-pic-div">
        <img class="pic-style" src="assets/images/pinapple-cake.jpg">
        </div>
        <div class="product-name-div">
         pinapple cake Rs 350/pound
        </div>
        
        <div class="product-btn-div">
        <form>
        <input class="btn-styling" type="submit"  value="Add to Cart"></input>
        </form>
        </div>
        </div>
        <div class="products-div">
        <div class="product-pic-div">
        <img class="pic-style" src="assets/images/black-forest.jpg">
        </div>
        <div class="product-name-div">
         black forest Rs 400/pound
        </div>
        
        <div class="product-btn-div">
        <form>
        <input class="btn-styling" type="submit"  value="Add to Cart"></input>
        </form>
        </div>
        </div>
        <div class="products-div">
        <div class="product-pic-div">
        <img class="pic-style" src="assets/images/fruit-cake.jpg">
        </div>
        <div class="product-name-div">
        fruit cake Rs 300/pound
        </div>
        
        <div class="product-btn-div">
        <form>
        <input class="btn-styling" type="submit"  value="Add to Cart"></input>
        </form>
        </div>
        </div>
        <div class="products-div">
        <div class="product-pic-div">
        <img class="pic-style" src="assets/images/ice-cream-cake.jpg">
        </div>
        <div class="product-name-div">
         icecream cake Rs 400/pound
        </div>
        <div class="product-btn-div">
                <form>
                <input class="btn-styling" type="submit"  value="Add to Cart"></input>
                </form>
                </div>
                </div>