
 <div>
    <div class="veg-img-div">  
    <img class ="img-veg" src="assets/images/branded-food.jpg" >
      </div>
     </div>
     </div>
     <div id="second-container">
     
     <div class="products-div">
     <div class="product-pic-div">
     <img class="pic-style" src="assets/images/ketchup.jpg">
     </div>
     <div class="product-name-div">
      Ketchup Rs 75(400g)
     </div>
     
     <div class="product-btn-div">
     <form>
     <input class="btn-styling" type="submit"  value="Add to Cart"></input>
     </form>
     </div>
     </div>
     <div class="products-div">
     <div class="product-pic-div">
     <img class="pic-style" src="assets/images/knour-soup1.png">
     </div>
     <div class="product-name-div">
      Soup Rs:40
     </div>
     
     <div class="product-btn-div">
     <form>
     <input class="btn-styling" type="submit"  value="Add to Cart"></input>
     </form>
     </div>
     </div>
     <div class="products-div">
     <div class="product-pic-div">
     <img class="pic-style" src="assets/images/knour-soup4.jpg">
     </div>
     <div class="product-name-div">
     Noddles Rs45(200g)
     </div>
     
     <div class="product-btn-div">
     <form>
     <input class="btn-styling" type="submit"  value="Add to Cart"></input>
     </form>
     </div>
     </div>
     <div class="products-div">
     <div class="product-pic-div">
     <img class="pic-style" src="assets/images/knour-soup2.jpg">
     </div>
     <div class="product-name-div">
      chiken corn Rs:400(250g)
     </div>
     
     <div class="product-btn-div">
     <form>
     <input class="btn-styling" type="submit"  value="Add to Cart"></input>
     </form>
     </div>
     </div>
     </div>
     
     <div id="second-container">
     
     <div class="products-div">
     <div class="product-pic-div">
     <img class="pic-style" src="assets/images/knour-soup5.jpg">
     </div>
     <div class="product-name-div">
     Crispy Fried Rs:380
     </div>
     
     <div class="product-btn-div">
     <form>
     <input class="btn-styling" type="submit"  value="Add to Cart"></input>
     </form>
     </div>
     </div>
     <div class="products-div">
     <div class="product-pic-div">
     <img class="pic-style" src="assets/images/goolden.jpg">
     </div>
     <div class="product-name-div">
      Golden Morn Rs:380(250g)
     </div>
     
     <div class="product-btn-div">
     <form>
     <input class="btn-styling" type="submit"  value="Add to Cart"></input>
     </form>
     </div>
     </div>
     <div class="products-div">
     <div class="product-pic-div">
     <img class="pic-style" src="assets/images/milo.jpg">
     </div>
     <div class="product-name-div">
     Milo Rs:600(1kg)
     </div>
     
     <div class="product-btn-div">
     <form>
     <input class="btn-styling" type="submit"  value="Add to Cart"></input>
     </form>
     </div>
     </div>
     <div class="products-div">
     <div class="product-pic-div">
     <img class="pic-style" src="assets/images/nesvita.jpg">
     </div>
     <div class="product-name-div">
     Nesvita Rs:550(500g)
     </div>
     
     <div class="product-btn-div">
     <form>
     <input class="btn-styling" type="submit"  value="Add to Cart"></input>
     </form>
     </div>
     </div>
     </div>
     <div id="second-container">
     
     <div class="products-div">
     <div class="product-pic-div">
     <img class="pic-style" src="assets/images/nido.jpg">
     </div>
     <div class="product-name-div">
      Nido Rs:600(1kg)
     </div>
     
     <div class="product-btn-div">
     <form>
     <input class="btn-styling" type="submit"  value="Add to Cart"></input>
     </form>
     </div>
     </div>
     <div class="products-div">
     <div class="product-pic-div">
     <img class="pic-style" src="assets/images/Nutella-750g.jpg">
     </div>
     <div class="product-name-div">
      Nutella Rs:450 (750g)
     </div>
     
     <div class="product-btn-div">
     <form>
     <input class="btn-styling" type="submit"  value="Add to Cart"></input>
     </form>
     </div>
     </div>
     <div class="products-div">
     <div class="product-pic-div">
     <img class="pic-style" src="assets/images/pringles.jpg">
     </div>
     <div class="product-name-div">
    Pringles Rs:180/pack 
     </div>
     
     <div class="product-btn-div">
     <form>
     <input class="btn-styling" type="submit"  value="Add to Cart"></input>
     </form>
     </div>
     </div>
     <div class="products-div">
     <div class="product-pic-div">
     <img class="pic-style" src="assets/images/red-bull.jpg">
     </div>
     <div class="product-name-div">
      Red bull Rs:180/cane
     </div>
     <div class="product-btn-div">
             <form>
             <input class="btn-styling" type="submit"  value="Add to Cart"></input>
             </form>
             </div>
             </div>