<div style="font-size: 1.2rem">
    <div class="container-fluid m-0 p-0 row" style="height: 378px;  float: left;background-color: brown">
  
    <!-- <div class="veg-img-div m-o p-o">   -->
    <img class ="img-veg " src="assets/images/veg.png" >
      </div>
     
    
  <div  ng-controller="fruitDataCtrl"   >
  <div style="float: left;" >
    <div class="col-sm-3 products-div"   ng-repeat="fruit in fruitData" style="float: left; margin-top: 50px; " >
       <img class="product-pic-div" ng-src="/assets/images/fruits/{{ images[$index] }}" alt="spices product" style="width: 200px; height: 120px; ">
       <h6 style="text-align: center">{{ fruit.ItemName }} RS {{ fruit.Price }}</h6>
        <div ng-controller="quantityctrl">
          <form ng-repeat=" quanitity in quantities" style="margin-left: 25px;">
        <div style="margin-left: 12px;"> <input  class="quantity-btn" type="button" value="-" ng-click="decrementLikes(quanitity)">
         {{quanitity.box}} 
           <input class="quantity-btn" type="button" value="+" ng-click="incrementLikes(quanitity  )">
      </div>
      <input class="btn-styling" style="margin-left: -6px;" type="submit" value="Add to Cart" ng-click="itemAddToCart(iceCreamCakeId, quanitity.box)">
      </form>
      </div>
      
      </div>
      </div>
      </div>
  
  
  