 <html>
<head>
<base href="/">

<script src="assets/js/angular.min.js"> </script>
<script src="assets/js/angular.js"> </script>
<script src="assets/js/angular-route.js"> </script>
<script src="assets/js/angular-animate.js"></script>
<script src="app/app.js"></script>
<script src="app/route.js" ></script>
<script src="app/admin/controller/userCtrl.js" >   </script>
<script src="/app/admin/controller/bakeryCtrl.js"></script>
<script src="/app/admin/controller/beveragesCtrl.js"></script>
<script src="/app/admin/controller/brandedFoodCtrl.js"></script>
<script src="/app/admin/controller/frozanFoodCtrl.js"></script>
<script src="/app/admin/controller/fruitCtrl.js"></script>
<script src="/app/admin/controller/kitchenCtrl.js"></script>
<script src="/app/admin/controller/spicesCtrl.js"></script>
<script src="/app/admin/controller/vegetablesCtrl.js"></script>
<script src="/app/admin/controller/cartCtrl.js"></script>
<title> G_mart</title>
<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css"	>
<link href="/assets/css/G-style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body ng-app="userApp" ng-controller="cartCtrl">
		<div class="container-fluid m-0 p-0 " style="width: 100%; background-color: blue">
			
			  
<!-- navigation bar  -->
	<nav class="navbar navbar-light row m-0 p-0 " style="background-color:#212121 ;height:37px; width: 100%;" >
			<!-- <a class="navbar-brand" href="#">Navbar</a> -->
			
					<div class="col-sm-2 m-0 p-0" style="background-color: rgb(255, 255, 255); height: px;" >

						<div Class="Offer center">
							<a href="GProduct.html" class="link"> Today's Special Offers! </a>
							</div >
							
							</div>
							<div class="col-sm-2 m-0 p-0" style=" height: px;" >

								<div Class="cart center">
									<a href="G-cart" class="link"> Cart </a> 
									</div >
									<img src="assets/images/cart-icon.png" style="height: 24px; width: 25px; 
									margin-top: 1px; margin-left: 3px; ">
									
									</div>
									

		</nav>
	  <!-- gmart logo div -->
	<div class="container-fluid m-0 p-0 row" style="height: 167px; widows: 100%; float: left;background-color: brown">
			<div class="col-sm-2 m-0 p-0 " style="background-color: blueviolet; height: 100%; width: 100%" >
					<img id="G-mart-logo" src="assets/images/G-mart-logo.png">
			</div>
			<!-- events about us best deals service 
			 -->
			<div class="col-sm-10 m-0 p-0" style="background-color: rgb(255, 255, 255); height: 100%; width: 100%" >

					<a href="/G-event" id="Event-tab-margin" class="Tabs-Links" > Events </a>
					<img class="slash-icon" src="assets/images/slash-tabs.png">
					<a href="G-About-us.html" class="Tabs-Links" >About Us </a>
					<img class="slash-icon" src="assets/images/slash-tabs.png">
					<a class="Tabs-Links" href="G-Best-Deals.html" > Best Deals </a>
					<img class="slash-icon" src="assets/images/slash-tabs.png">
					<a class="Tabs-Links" href="G-Services.html" > Services </a>
					<div  id="email-div">
					<img class="phone-icon" src="assets/images/call-icon.png"  > 
					 (+09231) 13697 888
					<img class="phone-icon"  src="assets/images/mail-icon.png">
					 G-mart@gmail.com
					</div>
			</div>
		</div>
 <!-- home bar  -->
		<nav class="navbar navbar-light " style="background-color:#f47b00" >
				<a class="navbar-brand" href="#" style="height: 27px; width: 100%; margin-left: 60px;">Home</a>
			</nav>

<!-- main div for picture product list and items -->
		<div class="container-fluid row m-0 p-0 " style="width: 100%;  background-color: aqua">
			<!-- list view -->
			
			<div class="col-sm-2 m-0 p-0 " style="background-color: rgb(255, 255, 255); " >
					<ul class="ul-list" type="none">
		<li class="list-item" id="first-list-item"> <a class ="list-a" href="/G-branded">Branded Food</a> </li>
		<li class="list-item"> <a class="list-a" href="/G-spices"> Spices </a> </li>
		<li class="list-item"> <a class="list-a" href="/G-vegetables"> vegetables </a> </li>
		<li class="list-item"> <a class="list-a" href="/G-fruits"> Fruits </a> </li>
		<!-- <li class="list-item"> <label> Veggies & Fruits </label><select><option value="app/views/pages/G-fruits.html"> fruits</option>
			<option href=""> </option>
		</select> </li> -->
		<li class="list-item"> <a class="list-a" href="/G-kitchen"> Kitchen</a> </li>
		<li class="list-item"> <a class="list-a" href="/G-baverages"> Baverages</a> </li>
		<li class="list-item"> <a class="list-a" href="/G-frozanFood"> Frozan Food</a>  </li>
		<li class="list-item"  id="last-list-item"> <a class="list-a" href="/bread-&-bakery" > Bread & Bakery</a> </li>
		<li class="list-item"  id="last-list-item"> <a class="list-a" href="/G-admin" > admin</a> </li>
		</ul>
			</div>
					<!-- sub div in main div   -->
				<div class="col-sm-10 m-0 p-0" style="background-color: rgb(255, 255, 255); width: 100%; "  ng-view >
				
					
						</div>
						</div>
	<!--  main footer div -->
	<div class="col-sm-12 m-0 p-0 row" style="background-color: #212121;   width: 100%;">
<!-- our service footer div  -->
		<div class="col-sm-4 m-0 p-0 " style="background-color: #212121;  width: 100%;">
				<div class="service-div">
						<h1> Service Area <h1>
						<p style="font-size:12px;"> Operates in Kohat City </p>
						</div>
		</div>
		<!-- follow us footer tab -->
		<div class="col-sm-4 m-0 p-0 " style="background-color: #212121;   width: 100%;">
				<div class="follow-us-div">
						<h1> Follow US <h1>
						<img id="facebook-hover" class="logo-sizing" src="assets/images/facebook-logo.png" > 
						<img id="twitter-hover" class="logo-sizing " src="assets/images/Twitter-icon.png">
						<img id="gmail-hover" class="logo-sizing"  src="assets/images/gmail-logo.png">
					  </div>
		</div>
	<!-- contact us div -->
		<div class="col-sm-4 m-0 p-0 " style="background-color: #212121;   width: 100%;">

				<div class="follow-us-div">
						<h1> Contact Us </h1>
						<img class="cnt-phone-icon" src="assets/images/call-icon.png"  > 
							(+09231) 13697 071
						   <br>
						   <img class="cnt-phone-icon" src="assets/images/call-icon.png"  > 
							 (+09231) 00904020
						   <br>
						   <img class="cnt-phone-icon"  src="assets/images/mail-icon.png">
						   shahwaseem735@gmail.com
						   <br>
						<img class="cnt-phone-icon"  src="assets/images/mail-icon.png">
						   muneebafridi07@gmail.com
						</div>
						
		</div>
	<!-- paragraph footer div	 -->
	<div  class="col-sm-12 m-0 p-0 " style="background-color: #212121;   width: 100%;">
			<div class="paragraph-footer-div">
                    <p id="paragraph">We are local mobile Ecommerce platform that is transforming the shopping experience for people like you, by connecting to the source of groceries.we aim to bring you<br>
                    the best and most healthy items at the most economical price.to do so, we leave no brick inturned.User's can order through the app and get everthing delivered to their<br>
                    doorstep, quickly. We offer a wide assortment of groceries,fruits vegetables and kitchen products.</p>
									
				</div>
                    <div class="copyright-div">
                    <p id="copy-para"> Copyright © 2018.All Rights Reserved</p>
					</div> 
					
		</div>
	</div>



<script src="assets/js/jquery-3.3.1.js"></script>
<script src="assets/js/bootstrap.js"></script>
</div>

</body>
</html>